body {
    font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.top-bar {

    display: flex;
    justify-content: space-around;
    background-color: #ffc017;
    padding: 25px 5rem;
    border-bottom: 1.7px solid rgb(19, 19, 19);
    position: sticky;
    top: 0;
    z-index: 10;
}



.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}




.menu ul li {
    display: inline-block;
    list-style: none;
    margin-inline: 0.5rem;

}

.menu ul li a {
    color: rgb(23, 23, 23);
    text-decoration: none;
}

.top-bar-btn {
    text-align: center;
    margin-left: 0.8rem;
    border-radius: 1.5rem;
    padding: 9px 14px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: transparent;
}

.white {
    background-color: white;
}

.green {
    background-color: #1a8917;

}





#hero-box {
    display: flex;
    background-color: #ffc017;
    position: relative;
    justify-content: space-around;
    /* overflow: hidden; */
    border-bottom: 1.7px solid rgb(19, 19, 19);
    font-family: 'Spectral', serif;
    width: 100%;
}

#hero-box #hero-content {
    display: flex;
    flex-direction: column;
    padding-block: 93px;
    width: 72rem;
}

#hero-content h2 {
    font-size: 6rem;
    white-space: nowrap;
}

#hero-content h3 {
    font-size: 1.5rem;
    margin-block: 1.5rem 3rem;
}

#hero-content button {
    text-align: center;
    border-radius: 1.5rem;
    padding: 10px 59px;
    background-color: rgb(19, 19, 19);
    color: white;
    font-size: 1.1rem;
    border: transparent;
}


#hero-box #multiple-m {
    position: absolute;
    top: 0;
    right: 0;
    height: 28.5rem;

}






.cont-title {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.cont-trend {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;

}


.title-trend {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-top: 2rem;
    padding-left: 1rem;
    width: 75rem;

}

.title-trend h2 {
    margin-left: 0.7rem;

}

.trend-post {
    display: flex;
    margin-block: 1rem 1.5rem;
    flex-grow: 1;
    flex-basis: 33.33%;
}

.number {
    color: rgba(178, 178, 178, 0.4);
    font-size: 1.7rem;
    margin-right: 1.3rem;
}

.user {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.user img {
    border-radius: 2rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.user h4 {
    margin-inline: 2px;

}

/* .user-box {
    justify-content: space-between;
} */


.title-post {
    margin-block: 0.5rem;
    font-weight: bold;
    font-size: 16px;
}

.info {
    display: flex;
    font-size: 12px;
    color: rgb(100, 100, 100);
    position: relative;
    justify-content: left;
    align-items: center;
}

.info span {
    font-size: 1rem;
    position: absolute;
    left: 2.8rem;
    top: -5px;


}

.info p {
    padding-inline: 0.5rem;
}



.first-row {
    display: flex;
    gap: 7rem;
    justify-content: space-between;
    position: relative;
}

.second-row {
    display: flex;
    gap: 7rem;
    justify-content: space-between;
    position: relative;
}




main .divisore {
    border: none;
    height: 1.5px;
    background-color: rgba(213, 213, 213, 0.345);
}




.articoli {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    /*  padding-right: 3rem; */
    white-space: nowrap;
    vertical-align: middle;
}

.articolo {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;

}

.articolo h2,
h3 {
    font-size: 1.4rem;

}

.articolo h2 {
    font-weight: bold;
    margin-block: 6px;
}

.articolo h3 {
    margin-bottom: 7px;
}


.articolo .img-art img {
    width: 200px;
    height: 130px;
    padding-left: 5rem;
    box-sizing: content-box;
}



.user-art img {
    border-radius: 5px;
    height: 1.5rem;
    margin-right: 0.5rem;

}

.info-radius {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 2px 3px;
    margin-inline: 3px;
}

.info-art {
    display: flex;
    font-size: 12px;
    color: rgb(100, 100, 100);
    justify-content: left;
    align-items: center;
}

.bookmark {
    margin-left: 7rem;
}

.cont-art {
    width: 20.5rem;
}

.sticky {
    /*  display: flex; */
    position: sticky;
    top: 0px;
    justify-self: flex-start;
    width: 33rem;
    padding: 1rem;
    margin-left: 2rem;
}

section {
    display: flex;
}


.container-section {
    display: flex;
    justify-content: center;
}

.sticky h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2rem;

}

.sticky a {
    text-decoration: none;
    color: rgb(175, 175, 175);
}

.sticky .sticky-first a {
    border: 1px solid rgba(207, 207, 207, 0.392);
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 3px;

    box-sizing: content-box;
}

.sticky .sticky-second a {
    margin-right: 1rem;

}

.sticky .sticky-first,
.sticky-second {
    margin-block: 2.3rem;
    line-height: 2.2rem;

}